/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  text-align: center;
  background-image: 100vh;
}
.heading {
  color: #f8fafc;
  font-family: 'Roboto';
}

.image {
  height: 100px;
  width: 100px;
}
